<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title%} {% endblock %} - Todo List</title>
        <script src="https://kit.fontawesome.com/d5cb24d81e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <ul class="ul-left">
                <li class="li-content"><a class="a-left" href="#">Todo List</a></li>
            </ul>
            <ul class="ul-right">
                {% if g.user %}
                    <li class="li-content"><span>{{ g.user['username']}}</span></li>
                    <li class="li-content"><a class="a-right" href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                {% else %}
                    <li class="li-content"><a class="a-right" href="{{ url_for('auth.register')}}">Registrarse</a></li>
                    <li class="li-content"><a class="a-right" href="{{ url_for('auth.login')}}">Iniciar sesion</a></li>
                {% endif%}
            </ul>
        </nav>

        <section class="content">
            <header>
                {% block header%} {% endblock%}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{message}}</div>
            {% endfor%}
            {%block content%}{%endblock%}
        </section>
    </body>
</html>