{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Registro{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="form-content">
        <form action="" method="POST">
            <i class="fa-solid fa-user-plus fa-5x"></i>
            <label class="label-form" for="username">Username</label>
            <input class="form-input" type="text" name="username" id="username" required placeholder="...">
            <label class="label-form" for="password">Password</label>
            <input class="form-input" type="password" name="password" id="password" required placeholder="...">
            <input class="form-input-btn" type="submit" value="Registrar">
        </form>
    </div>
{% endblock %}