{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Editar {{todo['description'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="form-content" method="POST">
        <i class="fa-solid fa-pen-clip fa-5x"></i>

        <label class="label-form"  for="description">Descripción</label>
        <input class="form-input-description" name="description" id="description" value="{{ request.form['description'] or todo['description'] }}" required>
        <label class="completed" for="completed">Completado</label>
        <input class="check" type="checkbox" name="completed" id="completed" {% if todo['completed'] == 1 %}checked{% endif %} />
        <input class="form-input-btn" type="submit" value="Guardar"/>
    </form>
    
{% endblock %}